
#Collection.npd .page-title, #Collection.npd .rte, #Collection.npd #main-collection-filters, #Collection.npd .tlbr, #Collection.npd .tlbr .active-facets  { padding-left:20px; padding-right:20px;}
  
.sidebar {width:300px;}
.sb_filter .closeFilter {color: var(--wdtcl); cursor: pointer; z-index:6;}
.sb_popup { width:350px; height:100%; position:fixed; top:0; left:-105%; z-index:668; box-shadow:0 0 5px rgba(0,0,0,.3) }
.sb_popup.active { left:0 }
.sb_popup .filterWrap {padding-block:0 3rem;padding-inline: 3rem; overflow:auto; height:100%; background:var(--sidebar_bg); border-radius:0 30px 30px 0; max-width: calc(100vw - 3rem); }
@media(max-width:768px){.sb_popup .filterWrap{padding-block: 0 4rem;padding-inline: 1rem;}
.sb_filter .closeFilter {top: 3rem;right: 1rem;}}
.count-bubble:empty { visibility: hidden; display:none; }
.count-bubble--dot:empty { visibility: visible; }
.count-bubble--dot::before { content:''; width:0.2rem; height:0.2rem; display:block; background-color:#fff; border-radius:50%; }
.count-bubble { color:#222222; background-color:#fdca40; display:inline-block; margin-left:5px; height:17px; width:17px; border-radius:50%; text-align:center; font-size:11px; font-weight:400; line-height:17px; }

.prView { margin:0 20px 0 auto; }
.tlbr .change-view { background:none; opacity:0.6; border:0; padding:8px; }
.tlbr .active_view { opacity:1; }

@media only screen and (min-width:1024px){
  .activFilter .sb_popup { left:0; }
   .sb_filter .closeFilter .at-icon {width:20px; height:20px;}
}

.filterBx { width:100%; z-index:5; }
.filterBx .bxTtl, .filterBx:not([open]) .flTtl .minus,
.filterBx[open] .plus { display:none; }

.flTtl { cursor:pointer; }
.flTtl, .flby { color:var(--ttl_cl); font-size:var(--ttl_fs);font-family:Kugile;}
.flTtl:not(:first-child),
.flby:not(:first-child) {
  background: #FAFAFA;
  border-radius: 10px;
  padding: 10px 15px;
}

.flTtl .at-icon { width:12px; height:12px; z-index:111; cursor:pointer; margin-left:auto; }
.filterDD {color:var(--opt_cl); max-height:350px; margin-bottom:30px; overflow-y:auto; }
.flTtl::-webkit-details-marker { display: none;}
.filterDD .slider-container { width:220px !important; margin:0 5px;}

.flTop .filterClr .flList { padding-top:6px;}
.flTop .filterClr .tooltip-label {font-size: 10px; line-height: 15px;}

@media only screen and (min-width:1025px){
	.filterDD .slider-container { width:240px !important;}
}
.flList li { padding:4px 0; }
.flList li label { font-size:var(--opt_fs); line-height:normal; display:inline-flex; align-items:center;}
.flList li:not(.color) .fl-checkbox.disabled { opacity:.6; }

.prcnt { font-size: -1px; }

.filterClr { overflow:visible; max-height:inherit; --gap:10px; }
.filterClr .color { position:relative; padding:0; line-height:0; }
.filterClr .color:hover .tooltip-label { opacity:1; visibility:visible; bottom:calc(100% + 7px); }
.filterClr .swt { box-shadow: inset 0px 0px 0px 1px rgba(123, 84, 84, 0.114), inset 1px 3px 0px rgba(123, 84, 84, 0.114);display:inline-block; width:var(--swatch_size); height:var(--swatch_size); line-height:var(--swatch_size); text-align:center; border-radius:var(--swatch_rounded); background-size:cover!important;}
.filterClr input:checked + .swt { box-shadow:0 0 0 1px var(--filter_bdr), 0 0 0 1px #fff inset; }
.swtwhite { border:1px solid #ddd; }
 
.flList .fl-checkbox.disabled .clrbox {opacity:0.5;}
.flList .fl-checkbox.disabled .swt:before { content:""; background:url(//teevore.store/cdn/shop/t/2/assets/sold-out.svg?v=7770670861602342321758344277) no-repeat 50% 50%/cover; position:absolute; left:2px; top:0; right:0; bottom:0; }

.infinitpagin { clear:both; padding-top:15px; text-align:center;  }
.infinitpagin p, .infinitpagin .at-spin {opacity:0.6;}
.pagination ul { padding-top:20px;}
.pagination li a { display:block; text-align:center; font-size:12px; #555555; height:40px; width:40px; line-height:38px; border:1px solid #CCCCCC; margin:0 4px; }
.pagination li.active a { border:1px solid #b5b5b5; color:#222222; }
	
@media only screen and (min-width:1024px){
  .sb_filter { margin-right:40px; border-radius:0 30px 30px 0; }
  .sb_right { margin:0 0 0 30px; }

  .flTop { margin-right:0; }
  .flTop .filterWrap {padding:0; }
  .flTop label { font-size:var(--filterby); }
  .flTop .filterBx { width:auto; cursor:pointer; padding:0;}
  .flTop .flTtl { border:0; padding:0; margin:0; }
  .flTop .filterDD { margin:0; position:absolute; top:100%; left:0; z-index:49; width:350px; background-color:var(--filter_bg); border:1px solid var(--tfilter_bdr); padding:35px 40px; margin-top:10px;} 
  .ddshadow .filterDD {box-shadow:1px 1px 2px rgba(0,0,0,.12);}
  .flTop .bxTtl { display:flex; padding-bottom:15px; margin-bottom:15px; position:sticky; top:0; background-color:var(--filter_bg); border-bottom: 1px solid var(--tfilter_bdr); z-index: 1;}
  .flTop price-range.flList{ margin-top:20px;}
  .flTop .count-bubble { height:15px; width:15px; line-height:15px; font-size:10px; margin-right:4px;}
  .flTop .flTtl .at-icon { z-index:0; margin-left:8px; width:11px; height:11px; }

  .flTop .js-facet-remove {text-decoration:underline;}
  .flTop  .filterClr ul{padding-top: 15px;}
  .tlbr .tpShort { display:none; }
  .filterClr { max-width:280px;}

  .loadFilters .main-content { opacity:0.5; }
}

.prRange {margin:0; min-width:100px;background: #FAFAFA; border: none; border-radius: 50px; padding: 15px 30px; }

.sortBy { background-color:transparent;padding: 12px 16px;border: 2px solid;}

.active-fl { color:var(--act_filter_cl); background-color:var(--act_filter_bg); display:inline-block; padding:5px 12px; border:1px solid var(--act_filter_bdr); border-radius:3px; white-space:nowrap; cursor:pointer; }
.active-fl:hover { color:var(--act_filter_cl); opacity:0.8; }
.active-fl .at-icon { width:10px; height:10px; margin-left:5px; }
.active-fl:only-child { display:none; }

.prsld { overflow:visible; }

.sb_categories a { color:var(--opt_cl); font-size:var(--opt_fs); display:flex; padding:5px 0; }
.sb_categories .at-icon { width:30px; height:30px; padding:10px; margin-left:auto; }
.sb_categories ul:not(.active) { display:none; }
.sb_categories .lvl-2 a { padding:5px 0 5px 15px; }
.sb_categories .active > a { color:var(--opt_cl_hov); }

@media only screen and (max-width:1024px){
  .flForm { height:100%; overflow:auto; }
  .sb_popup, .sb_filter { width:300px; height:100%; padding:0; position:fixed; top:0; left:-105%; z-index:777; margin:0; flex-direction:column; background-color:var(--filter_bg); box-shadow:0 0 5px rgba(0,0,0,.3) }
  .activFilter .sb_filter { left:0; }
  .filterWrap { padding:20px; overflow:auto; max-height:100%; } 
  .prView, .flTop .tpShort { display:none; }
  .sb_filter.optbg .filterBx {padding:0 !important; margin-bottom:15px !important;}
  .collection-filters__label, .tlbr_pr_cnt {display:none;}
}

.collection--empty { margin-top:50px; text-align:center; background: #fafafa; padding:40px;}
.collection--empty .collection-product-count {display:none;}

tc-range-slider { padding:0 10px; display:block; }

.banner_text { bottom:0; color:var(--cl); line-height: 1.4;}

.template-collection.loading .modalOverly { background-color:rgba(255,255,255,.8)  }
.template-collection.loading .loadingBox svg {color:#666}
.row-gap:empty {margin:0;}